@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); /*외부폰트*/
* {margin: 0;padding: 0;box-sizing: border-box;}
ul, li {list-style: none;}
a {text-decoration: none;color: inherit;}
img {border: none;}
body {font-family: 'Noto Sans KR', sans-serif;}

/*header*/
header {
    width: 100%;
    height: 80px;
    background-color: #f4ede7;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

header .header_wrap {
    width: 100%;
    max-width: 1610px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 0;
}

header .logo a {
    font-size: 0;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .gnb {
    display: flex;

}

header .gnb li {
    width: 180px;
    text-align: center;
    margin-left: 15px;
}
header .gnb li div {
    width: 100%;
    height: 5px;
    background-color: #bfa58e;
}
header .gnb li span {
    font-size: 20px;
    display: block;
    padding-top: 15px;
    color: #bfa58e;
    transition:0.25s;
    position:relative;
}
header .gnb li span::before,
header .gnb li span::after{
    content:"";
    width:100%;
    height:5px;
    background:#bfa58e;
    position:absolute;
    left:0;
    top:0;
}
header .gnb li span::after{
    width:0;
    background-color:#544b43;
    transition:all 0.5s;
    left:50%;
    transform:translateX(-50%);
}
header .gnb li:hover span::after{
    width:100%;
}
header .gnb li.on span{
    color:#544b43;
    font-weight:bold;
}
header .gnb li.on span::after{
    width:100%;
    background-color: #544b43;
}
header .gnb li:hover span{
    font-weight: bold;
    color: #544b43;
}
/* header end */


footer{
    width:100%;
    height:150px;
    background-color:#f4ede7;
    display:flex;
    padding:0 650px;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
footer h1{
    font-size:25px;
    font-weight:bold;
    position:relative;
    transform:rotate(-90deg);
}
footer h1::before{
    content:"";
    height:9px;
    width:105%;
    background:#FFC700;
    position:absolute;
    top:50%;
    left:-3%;
    transform:translateY(-50%);
    z-index:-1;
}

footer .info li:nth-child(2){
    padding:10px 0;
}
footer .info span{
    font-size:16px;
    font-weight:bold;
}
footer .info b{
    font-size:16px;
    font-weight:normal;
}

footer .git{
    text-align:center;
}
footer .git img{
    width:70px;
    height:70px;
}
footer .git span{
    display:block;
    font-size:16px;
    font-weight:bold;
}
/* footer end */

.slideUp{
    position:fixed;
    bottom:5%;
    right:3%;
    z-index:100;
    display:none;
    cursor: pointer;
}
.slideUp img{
    width:50px;
    height:50px;
    opacity:0.8;
    transition:all 0.25s;
}
.slideUp img:hover{
    opacity:1;
}
/* slideUp end */


















