@charset "UTF-8";

.container{
    width:100%;
    max-width:1610px;
    margin:0 auto;
}


#about .aboutme {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:80px;
    margin-bottom:60px;
}

#about .aboutme .container{
    height:100%;
    display:flex;
    padding:80px 0;
}

#about .aboutme .aboutmeBox{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    display:flex;
    justify-content: space-between;
}

#about .aboutme .right_bg{
    width:50%;
    height:100vh;
    max-height:889px;
    background:#bfa58e;
    position:absolute;
    right:0px;
    z-index: -5;
}

#about .aboutme .aboutme_left {
    width: 50%;
    height: 100%;
}

#about .aboutme .left_box {
    width:100%;
    height:100%;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#about .aboutme .left_box > p.animate {
    font-size: 25px;
    color: #414141;
    line-height:45px;
    opacity:0;
    transition:all 1s;
}
#about .aboutme .left_box > p.animate.motion{
    opacity:1;
}
#about .aboutme .left_box p.text_ani {
    font-size: 40px;
    font-weight: bold;
    color: #544b43;
    position:relative;
    display:inline-block;
}
#about .aboutme .left_box p.text_ani::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:-10px;
    width:3px;
    height:100%;
    background-color:#544b43;
}
#about .aboutme .left_box p.active::after{
    display:none;
}

#about .aboutme .left_box span {
    font-size: 35px;
    font-weight: bold;
    color: #544b43;
    position: relative;
    display: inline-block;
    margin: 9px 0 72px 0;
    transform:translateY(50%);
    transition:all 1s;
    opacity:0;
}
#about .aboutme .left_box span.motion{
    opacity:1;
    transform:translateY(0);
}
#about .aboutme .left_box span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#about .aboutme .left_box > div{
    display:none;
}
#about .aboutme .aboutme_right {
    width: 50%;
    height: 100%;
}

#about .aboutme .right_box {
    width: 100%;
    height: 100%;
    position:relative;
    transform:translateX(13%);
    opacity:0;
    transition:all 1s;
}
#about .aboutme .right_box.motion{
    transform:translateX(0);
    opacity:1;
}
#about .aboutme .right_box img{
    position:absolute;
    top:10%;
    right:14%;
}

#about .aboutme .right_box .aboutBox {
    width: 375px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 30%;
    right: 18%;
}
#about .aboutme .right_box .aboutBox h2 {
    font-size: 70px;
    color: #544b43;
}
#about .aboutme .right_box .aboutBox span {
    color: #FFC700;
}

#about .aboutme .aboutme_center {
    width: 471px;
    height: 497px;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-15%,-65%);
    background-image: url(../img/picture1.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    opacity:0;
    transition:all 1s;
    /* border: 1px solid white; */
}
#about .aboutme .aboutme_center.motion{
    opacity:1;
    transform:translate(0,-65%);
}
#about .aboutme .aboutme_center img{
    width:100%;
    height:100%;
}
/* aboutme end */


#about .whoishe{
    width: 100%;
    height: 100%;
    position:relative;
    margin-bottom:60px;
}

#about .whoishe .left_bg{
    width:100%;
    max-width:759px;
    height:100vh;
    max-height:889px;
    background-color:#bfa58e;
    position:absolute;
    top:0;
    z-index:-1
}

#about .whoishe .container{
    height:889px;
    padding:80px 0;
}

#about .whoishe .whoisheBox{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    display:flex;
    justify-content: space-between;
}

#about .whoishe .whoishe_left{
    width:38%;
    text-align:center;
    padding:100px 120px 0 0;
    transform:translateX(-20%);
    opacity:0;
    transition:all 1s;
}

#about .whoishe .whoishe_left.motion{
    transform:translateX(0);
    opacity:1;
}
#about .Tb_whoishe{
    display:none;
}
#about .whoishe .whoishe_left h4,
#about .Tb_whoishe h4{
    font-size:35px;
    font-weight:bold;
    color:#544b43;
    margin-bottom:30px;
    display:inline-block;
    position:relative;
}

#about .whoishe .whoishe_left ul li,
#about .Tb_whoishe ul li{
    padding-bottom:8px;
}
#about .whoishe .whoishe_left ul li span,
#about .Tb_whoishe ul li span{
    font-size:20px;
    font-weight:bold;
    color:#414141;
}
#about .whoishe .whoishe_left ul li b,
#about .Tb_whoishe ul li b{
    font-size:18px;
    font-weight:normal;
    color:#414141;
}

#about .whoishe .whoishe_left .profile,
#about .Tb_whoishe .whoishe_left{
    margin-bottom:30px;
}
#about .whoishe .whoishe_left .profile li:last-child,
#about .Tb_whoishe .whoishe_left li:last-child{
    padding-bottom:0;
}
#about .whoishe .whoishe_left .profile h4::before,
#about .Tb_whoishe .whoishe_left h4::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 103%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#about .whoishe .whoishe_left .license li:last-child,
#about .Tb_whoishe .license_right li:last-child{
    padding-bottom:0;
}
#about .whoishe .whoishe_left .license h4::before,
#about .Tb_whoishe .license_right h4::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#about .whoishe .whoishe_left .process{
    display:none;
}
#about .whoishe .whoishe_right{
    width:62%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:330px;
    text-align:center;
    transform:translateX(13%);
    opacity:0;
    transition:all 1s;
}
#about .whoishe .whoishe_right.motion{
    transform:translateX(0);
    opacity:1;
}

#about .whoishe .whoishe_right h3{
    font-size:30px;
    font-weight:bold;
    color:#544b43;
    margin-bottom:25px;
}

#about .whoishe .whoishe_right .process{
    margin-bottom:75px;
}

#about .whoishe .whoishe_right .processBox{
    width:475px;
    height:93px;
    background-color:#f4ede7;
    border-radius: 90px;
}

#about .whoishe .whoishe_right .processBox ul{
    display:flex;
    justify-content: space-around;
}
#about .whoishe .whoishe_right .processBox ul li{
    text-align:center;
    padding:10px 0 10px 29px;
}
#about .whoishe .whoishe_right .processBox ul li:last-child{
    padding-right:29px;
}
#about .whoishe .whoishe_right .processBox ul li img{
    width:50px;
    height:50px;
}
#about .whoishe .whoishe_right .processBox ul li span{
    font-size:14px;
    font-weight:normal;
    display:block;
}

#about .whoishe .whoishe_right .skillBox{
    width:475px;
    height:280px;
    border-radius: 45px;
    background-color:#f4ede7;
    display:flex;
}

#about .whoishe .whoishe_right .skill_left{
    width:35%;
}

#about .whoishe .whoishe_right .skill_left ul{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#about .whoishe .whoishe_right .skill_left ul li{
    display:flex;
    text-align:left;
    margin-left:30px;
    margin-bottom:15px;
    cursor: pointer;
    opacity: 0.5;
    transition:0.25s;
}
#about .whoishe .whoishe_right .skill_left ul li:hover{
    opacity:1;
}
#about .whoishe .whoishe_right .skill_left ul li.active{
    opacity: 1;
}
#about .whoishe .whoishe_right .skill_left ul li:last-child{
    margin-bottom:0;
}
#about .whoishe .whoishe_right .skill_left ul li .iBox{
    width:30px;
}
#about .whoishe .whoishe_right .skill_left ul li i{
    color:#544b43;
    font-size:20px;
}
#about .whoishe .whoishe_right .skill_left ul li .cateBox{
    width:70px;
    margin-left:10px;
    text-align:left;
}
#about .whoishe .whoishe_right .skill_left ul li span{
    font-size:14px;
}

#about .whoishe .whoishe_right .border{
    width:1px;
    height:200px;
    background-color:rgba(84,75,67,0.5);
    margin-top:45px;
}
#about .whoishe .whoishe_right .line{
    width:5px;
    height:20%;
    background-color:#544b43;
    margin-left:-2px;
    transition:all 0.3s ease-in-out;
}

#about .whoishe .whoishe_right .skill_right{
    width:65%;
    position:relative;
}

#about .whoishe .whoishe_right .skill_right .rightBox{
    opacity:0;
    width:100%;
    padding:0 40px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:30%;
}
#about .whoishe .whoishe_right .skill_right div.active{
    opacity:1;
    position:absolute;
    left:0;
    transition: all 0.5s ease-out;
}

#about .whoishe .whoishe_right .skill_right .rightBox .skillImg img{
    width:60px;
    height:60px;
    margin:0 5px;
}

#about .whoishe .whoishe_right .skill_right .rightBox span{
    display:block;
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
}
#about .whoishe .whoishe_right .skill_right .rightBox p{
    font-size:13px;
}

#about .whoishe .whoishe_center{
    width: 464px;
    height: 567px;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(0,-40%);
    background-image: url(../img/picture2.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    /* border: 1px solid white; */
    opacity: 0;
    transition:all 1s;
}

#about .whoishe .whoishe_center.motion{
    transform: translate(0,-50%);
    opacity: 1;
}



#about .whoishe .whoishe_center img{
    width: 100%;
    height:100%;
}
/* whoishe end */
/* about end */

#web .renewal,
#design .renewal{
    display:flex;
}
#web .renewal .wdLeft_bg,
#design .renewal .wdLeft_bg{
    width:30%;
    /* max-width:626px; */
    height:100vh;
    background-color:#bfa58e;
    padding-top:80px;
    position:sticky;
    top:0;
    left:0;
}

#web .renewal .wdLeft_container,
#design .renewal .wdLeft_container{
    width:100%;
    height:100%;
    padding:80px 0 80px 149px;
}
#web .renewal .wdLeft_box,
#design .renewal .wdLeft_box{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}
#web .renewal .wdLeft_bg > h3{
    font-size:25px;
    color:#544b43;
    text-align:center;
    padding:20px 0;
    opacity:0;
    transition:all 1s;
    cursor:default;
    display:none;
}
#web .renewal .wdLeft_bg > h3.motion{
    opacity:1;
}
#web .renewal .wdLeft_box h3{
    font-size:40px;
    color:#544b43;
    text-align:center;
    padding-top:124px;
    margin-bottom:70px;
    opacity:0;
    transition:all 1s;
    cursor:default;
}
#web .renewal .wdLeft_box h3.motion{
    opacity:1;
}
#web .renewal .wdLeft_box > div{
    display:flex;
    justify-content: space-around;
}
#web .renewal .wdLeft_box > div .ptImg_box{
    padding-top:140px;
}
#web .renewal .wdLeft_box > div .ptImg_box:last-child{
    transform:rotate(90deg);
    margin-right:10px;
    /* margin-top:20px; */
    display:none;
}
#web .renewal .wdLeft_box > div img{
    width:250px;
    height:131px;
    transform:rotate(90deg);
    margin-top:100px;
    opacity:0;
    transition:all 1s;
}
#web .renewal .wdLeft_box > div img.motion{
    margin-top:0;
    opacity:1;
}
#web .renewal .wdLeft_box > div ul{
    padding-right:20px;
    transform:translateX(-30%);
    transition:all 1s;
    opacity:0;
}
#web .renewal .wdLeft_box > div ul.motion{
    opacity:1;
    transform:translateX(0);
}
#web .renewal .wdLeft_box > div ul li{
    cursor: pointer;
    font-size:35px;
    color:#f4ede7;
    transition:all 0.2s;
    font-weight:bold;
}
#web .renewal .wdLeft_box > div ul li:hover{
    color:#544b43;
}
#web .renewal .wdLeft_box > div ul li:nth-child(2){
    margin:10px 0;
}
#web .renewal .wdLeft_box > div ul li.on{
    font-weight:bold;
    color:#544b43;
}
#web .renewal .wdLeft_box > div ul li.on:hover{
    opacity:1;
}

#web .renewal .wdRight_box{
    width:70%;
    /* height:2000px; */
    height:100%;
    max-height:2906px;
    padding-top:160px;
    padding-bottom:80px;
    padding-right:7.6%;
}
#web .renewal .wdRight_box > div{
    width:100%;
    height:100%;
    margin-bottom:240px;
}
#web .renewal .wdRight_box ul{
    padding:8px 30px 0;
}
#web .renewal .wdRight_box ul li,
#design .design_info ul li{
    padding-bottom:5px;
}
#web .renewal .wdRight_box span,
#design .design_info span{
    font-size:12px;
    font-weight:bold;
}
#web .renewal .wdRight_box p,
#design .design_info p{
    font-size:12px;
}
#web .site_link{
    position:absolute;
    bottom:6%;
    left:50%;
    transform:translateX(-50%);
}
.site_link{
    text-align:center;
}

.btnBox:after {
    /* position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    transition: all 0.3s ease; */
  }
  .btnBox:hover {
    /* color: white; */
  }
  .btnBox:hover .btnBox_sub{
    /* display:none; */
    /* position:absolute; */
    /* top:0; */
    /* left:0; */
  }
  .btnBox:hover:after {
    left: 0;
    width: 100%;
  }
  .btnBox:active {
    top: 1px;
  }
  
@keyframes btnani {
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
.btnBox{
    margin:8px auto 0;
    width:122px;
    max-height:34px;
    background-color:#FFC700;
    padding:5px 0;
    text-align:center;
    transform:skew(-20deg);
    position:relative;
    transition:all 0.3s;
}
.btnBox b{
    font-size:16px;
    width:122px;
    font-weight:900;
    display:block;
    transform:skew(20deg);
}
.btnBox_sub{
    width:100%;
    height:100%;
    border:1px solid #FFC700;
    position:absolute;
    top:20%;
    left:5%;
    z-index:-1;
    transition:all 0.3s;
}

#web .renewal .wdRight_box .renewal_1{
    background-image: url(../img/lookpin_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_1 h2{
    padding-bottom:60px;
}
#web .renewal .wdRight_box .renewal_info{
    width:100%;
    max-width:322px;
    height:100%;
    max-height:318px;
    background-color:rgba(255,255,255,0.5);
    border-radius:15px;
    margin:0 40px 60px 100px;
    position:relative;
}
#web .renewal .wdRight_box img{
    width:457px;
    height:384px;
}
#web .renewal .wdRight_box h2{
    font-size:70px;
    color:#FFC700;
    writing-mode: vertical-rl;
    cursor: default;
}
#web .renewal .Tb_renewal_info{
    display:none;
}

#web .renewal .wdRight_box .renewal_2{
    background-image: url(../img/yeogi_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_2 h2{
    padding-bottom:30px;
}
#web .renewal .wdRight_box .renewal_3{
    background-image: url(../img/hermes_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_3 h2{
    padding-bottom:40px;
}
/* web end */

#design{
    width:100%;
    max-width:1920px;
}
#design .wdLeft_box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#design .wdLeft_box img{
    width:271px;
}
#design .wdLeft_box h3{
    font-size:40px;
    font-weight:bold;
    color:#544b43;
    display:block;
    margin:90px 0;
    opacity:0;
    transition:all 1s;
    cursor: default;
}
#design .wdLeft_box h3.motion{
    opacity:1;
}
#design .wdLeft_box img:first-child{
    transform:rotate(-90deg);    
    margin-bottom:50px;
    transition:all 1s;
    opacity:0;
}
#design .wdLeft_box img:first-child.motion{
    margin-bottom:0;
    opacity:1;
}
#design .wdLeft_box img:last-child{
    transform:rotate(90deg);
    margin-top:50px;   
    transition:all 1s;
    opacity:0; 
}
#design .wdLeft_box img:last-child.motion{
    margin-top:0;
    opacity:1;
}
#design .wdRight_box{
    width:70%;
    padding-top:160px;
    padding-bottom:80px;
    padding-right:7.6%;
}
#design .wdRight_box .designRight_box{
    width:100%;
    height:100%;
    background:#f4ede7;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}

/* #design .swiper .swiper-slide{
    width:100%;
    height:100%;
} */

#design .dsLeft_container{
    width:65%;
    height:100%;
    /* margin-left:15%; */
    /* padding-top:15.6%; */
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    /* background:blue; */
}
#design .dsLeft_container img{
    width:100%;
    max-width:624px;
    /* height:100%; */
    /* max-height:359px; */
    margin-left: 12%;
}
#design .dsRight_container{
    width:35%;
    height:100%;
    /* padding-left:5%;
    padding-top:15.6%; */
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* background:red; */
}
#design .dsRight_container > span{
    width:100%;
    max-width:212px;
    display:block;
    margin-left:15%;
    font-size:30px;
    font-weight:bold;
    color:#544b43;
    position:relative;
}
#design .dsRight_container > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -3%;
    width: 100%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#design .dsRight_container .design_info{
    width:322px;
    height:359px;
    background-color:rgba(255,255,255,0.5);
    border-radius: 15px;
    margin-top:55px;
    margin-bottom:95px;
    padding:17px 20px 0 20px;
    position:relative;
}
#design .dsRight_container .design_info .designTitle{
    text-align:center;
    margin-bottom:40px;
    margin-top:10px;
}
#design .dsRight_container .design_info .designTitle h5{
    font-size:25px;
    font-weight:bold;
}
#design .designRight_box .design_info .logoImg_container{
    text-align:center;
}
#design .designRight_box .design_info .btnBox_container{
    display:flex;
    justify-content: space-between;
}
#design .designRight_box .design_info .btnBox_container .btnBox{
    
}
#design .swiper {
    width:100%;
    height: 100%;
    position: relative;
}


#design .swiper-slide {
    /* max-width: 1080px; */
    width:100%;
    height:100%;
    /* text-align: center; */
    /* font-size: 18px; */
    /* background: #fff; */
    /* border-radius: 10px; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next{
    position:absolute;
    top:50%;
    right:3%;
    background: url(../img/right_arrow.png) no-repeat center;
}
.swiper-button-prev{
    position:absolute;
    top:50%;
    left:3%;
    background: url(../img/left_arrow.png) no-repeat center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    display:none;
}
/* design end */
#story{
}
#story .newstart{
    width:100%;
    max-width:1920px;
    height:100vh;
    position:relative;
    /* background:blue; */
}
#story .newstart .left_bg{
    width:40%;
    height:95%;
    background:#bfa58e;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
#story .newstart .container{
    width:100%;
    height:100%;
    /* background:blue; */
    padding-top:160px;
    padding-bottom:80px;
}

#story .newstart .newstartBox{
    display:flex;
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    position:relative;
}

#story .newstart .newstartBox .mystory_left{
    width:38.1%;
    height:100%;
    text-align:center;
    position:relative;
    /* background:bisque; */
}
#story .newstart .newstartBox .mystory_left strong{
    display:inline-block;
    margin-top:30px;
    font-size:40px;
    color:#544b43;
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_left strong.motion{
    opacity:1;
}
#story .newstart .newstartBox .mystory_right strong{
    display:none;
}
#story .newstart .newstartBox .mystory_left .mystoryBox{
    position:absolute;
    bottom:26%;
    left:8%;
    transform:translateX(-20%);
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_left .mystoryBox.motion{
    opacity:1;
    transform:translateX(0);
}
#story .newstart .newstartBox .mystory_left .mystoryBox h2{
    font-size:70px;
    color:#544b43;
    transform:rotate(-90deg);
    
}
#story .newstart .newstartBox .mystory_left .mystoryBox span{
    color:#FFC700;
}
/* mystory_left end */

#story .newstart .newstartBox .mystory_right{
    width:61.9%;
    height:100%;
}
#story .newstart .newstartBox .mystory_right .myRight_container{
    width:70%;
    height:100%;
    /* background:bisque; */
    margin-left:30%;
}
#story .newstart .newstartBox .mystory_right span,
#story .realization .realizationBox .realization_left span{
    margin:160px 0 40px 0;
    font-size: 35px;
    font-weight: bold;
    color: #544b43;
    position: relative;
    display: inline-block;
    transition:all 1s;
    transform:translateY(-60%);
    opacity:0;
    /* margin: 9px 0 72px 0; */
}

#story .newstart .newstartBox .mystory_right span.motion,
#story .realization .realizationBox .realization_left span.motion{
    transform:translateY(0);
    opacity:1;
}
#story .newstart .newstartBox .mystory_right span::before,
#story .realization .realizationBox .realization_left span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#story .newstart .newstartBox .mystory_right p,
#story .realization .realizationBox .realization_left p{
    font-size:25px;
    line-height:45px;
    color:#414141;
    margin-bottom:95px;
    transition:all 1s;
    opacity:0;
}
#story .realization .realizationBox .realization_left p:last-child{
    display:none;
}
#story .newstart .newstartBox .mystory_right p.motion,
#story .realization .realizationBox .realization_left p.motion{
    opacity:1;
}
#story .newstart .newstartBox .mystory_right img{
    transform:rotate(90deg);
    margin-left:150px;
    transition:all 1s;
    margin-top:60px;
    opacity:0;
}
#story .newstart .newstartBox .mystory_right img.motion{
    margin-top:0;
    opacity:1;
}
/* mystory_right end */

#story .newstart .newstartBox .mystory_center{
    width:481px;
    height:527px;
    background-image: url(../img/picture3.jpg);
    position:absolute;
    bottom:10%;
    left:20%;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    transform:translateX(20%);
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_center.motion{
    opacity:1;
    transform:translateX(0);
}
/* mystory_center end */
/* newstart end */

#story .realization{
    width:100%;
    max-width:1920px;
    height:100vh;
    position:relative;
    /* background:blue; */
}
#story .realization .right_bg{
    width:40%;
    height:90%;
    background-color:#bfa58e;
    position:absolute;
    top:50px;
    right:0;
    z-index:-1;
}
#story .realization .container{
    width:100%;
    height:100%;
    padding-top:120px;
    padding-bottom:80px;
    /* background:blue; */
}
#story .realization .realizationBox{
    display:flex;
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}
#story .realization .realizationBox .realization_left{
    width:61.8%;
    height:100%;
    padding:70px 70px 0 70px;
    /* background:beige; */
}
/* realization_left end */

#story .realization .realizationBox .realization_right{
    width:38.2%;
    height:100%;
    /* background:blue; */
}
#story .realization .realizationBox .realization_right > div{
    margin:150px auto 0 auto;
    width:447px;
    height:460px;
    background-image: url(../img/picture4.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    transform:translateY(20%);
    transition:all 1s;
    opacity:0;
}
#story .realization .realizationBox .realization_right > div.motion{
    transform:translateY(0);
    opacity:1;
}


#story .epilogue{
    width:100%;
    max-width:1920px;
    height:690px;
    position:relative;
}
#story .epilogue .title_bg{
    width:100%;
    height:149px;
    background-color:#bfa58e;
    position:absolute;
    top:0;
    z-index:-10;
}
#story .epilogue .container{
    width:100%;
    height:100%;
    max-height:487px;
    /* background:blue; */
    position:relative;
}

#story .epilogue .ep_title{
    text-align:center;
    transform:translateY(-20%);
    opacity:0;
    transition:all 1s;
    /* margin-top:30px; */
}
#story .epilogue .ep_title.motion{
    opacity:1;
    transform:translateY(0);
}
#story .epilogue .ep_title h1{
    font-size:70px;
    font-weight:bold;
    color:#544b43;
    position:relative;
    display:inline-block;
    margin-top:20px;
}
#story .epilogue .ep_title h1::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#story .epilogue .ep_container{
    display:flex;
}

#story .epilogue .left_box{
    width:38%;
    height:452px;
    /* background:blue; */
}
#story .epilogue .left_box > div{
    width:452px;
    height:487px;
    background-image: url(../img/picture5.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    margin:-25px auto 0 auto;
    transform:translateX(20%);
    transition:all 1s;
    opacity:0;
}
#story .epilogue .left_box > div.motion{
    opacity:1;
    transform:translateX(0);
}

#story .epilogue .right_box{
    width:62%;
    height:550px;
    padding-top:120px;
    /* background:blue; */
}
#story .epilogue .right_box p.endText{
    font-size:25px;
    color:#414141;
    line-height:45px;
    opacity:0;
    transition:all 1s;
}


#story .epilogue .right_box p.motion{
    opacity:1;
}
#story .epilogue .right_box p.text_ani{
    font-size:50px;
    font-weight:bold;
    color:#544b43;
    position:relative;
    display:inline-block;
    margin-top:60px;
}
#story .epilogue .right_box p.text_ani::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:-10px;
    width:3px;
    height:100%;
    background-color:#544b43;
}
#story .epilogue .right_box p.active::after{
    display:none;
}
#story .epilogue .right_box strong::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
/* story end */


/* Tablet Device */
@media all and (min-width:769px) and (max-width:1024px){
    .container{
        width:100%;
        max-width:944px;
        margin:0 auto;
    }
    header .container{
        width:100%;
        max-width:944px;
        margin:0 auto;
    }
    header .logo img{
        width:131px;
    }
    header .gnb li{
        width:113px;
        margin-left:10px;
    }
    header .gnb li:last-child(){
        margin-left:0;
    }
    header .gnb li span{
        font-size:16px;
    }
    footer{
        width:100%;
        padding:0 180px;
    }
    /* header end */
    #about{
        /* height:1000px; */
    }
    #about .aboutme{
        height:787px;
        margin-bottom:0;
    }
    #about .aboutme .right_bg{
        display:none;
    }
    #about .aboutmeBox{
        width:100%;
        max-width:944px;
        height:100%;
        max-height:565px;
    }
    #about .aboutmeBox .aboutme_left{
        width:50%;
        height:100%;
    }
    #about .aboutmeBox .aboutme_left .left_box p{
        font-size:18px;
        line-height:30px;
    }
    #about .aboutmeBox .aboutme_left .left_box p.text_ani{
        font-size:25px;
    }
    #about .aboutmeBox .aboutme_left .left_box span{
        font-size:20px;
        margin-bottom:30px;
    }
    #about .aboutmeBox .aboutme_left .left_box span::before{
        height:6px;
    }
    #about .aboutmeBox .aboutme_left .left_box > div{
        display:block;
        transform:rotate(90deg);
        margin-top:80px;
    }
    #about .aboutmeBox .aboutme_left .left_box > div img{
        width:192px;
    }
    #about .aboutmeBox .aboutme_right{
        width:50%;
        height:100%;
    }
    #about .aboutmeBox .aboutme_right img{
        display:none;
    }
    #about .aboutmeBox .aboutme_right .aboutBox{
        padding-bottom:310px;
        padding-left:80px;
        transform:rotate(0deg);
    }
    #about .aboutmeBox .aboutme_right .aboutBox h2{
        font-size:40px;
    }

    #about .aboutmeBox .aboutme_center{
        /* display:none; */
        width:100%;
        max-width:386px;
        top:67%;
        left:50%;
        /* background-image:url(../img/picture1.jpg) repeat; */
        height:423px;
    }
    /* aboutmeBox end */

    #about .whoishe .left_bg,
    #about .Tb_whoishe .right_bg{
        width:516px;
        height:522px;
        background-color:#bfa58e;
    }
    #about .whoishe .whoisheBox{
        width:100%;
        height:356px;
    }
    #about .whoishe .whoisheBox .whoishe_left{
        position:relative;
        width:60%;
    }
    #about .whoishe .whoisheBox .whoishe_left .profile,
    #about .whoishe .whoisheBox .whoishe_left .license{
        display:none;
    }
    #about .whoishe .whoisheBox .whoishe_left .process{
        display:flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        /* justify-content: center; */
    }
    #about .whoishe .whoisheBox .whoishe_left .process h3{
        font-size:20px;
        color:#544b43;
        margin-bottom:20px;
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox{
        width:236px;
        height:188px;
        border-radius: 30px;
        background-color:#f4ede7;
        /* padding-left:1px; */
        /* padding-right:24px; */
        padding-top:15px;
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox ul{
        width:170px;
        height:133px;
        display:flex;
        flex-wrap: wrap;
        margin:0 auto;
        /* flex-direction:wrap; */
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox ul li{
        width:33%;
        margin-bottom:10px;
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox ul li img{
        width:40px;
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox ul li span{
        font-size:11px;
        color:black;
    }
    #about .whoishe .whoisheBox .whoishe_left .process .processBox ul li:nth-child(4){
        margin-left:30px;
    }
    #about .whoishe .whoishe_center{
        /* display:none; */
        background-image: url(../img/1024picture2.jpg);
        width:100%;
        max-width:330px;
        height:100%;
        max-height:375px;
        position:absolute;
        top:75%;
        z-index:10;
    }
    #about .whoishe .whoisheBox .whoishe_right{
        padding-left:0;
    }
    #about .whoishe .whoisheBox .whoishe_right .process{
        display:none;
    }
    
    #about .whoishe .whoisheBox .whoishe_right .skill h3{
        font-size:20px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox{
        width:366px;
        height:188px;
        border-radius: 30px;
        position:relative;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .skill_left .iBox{
        text-align:center;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .skill_left i{
        font-size:14px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .skill_left span{
        font-size:10px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .skill_left li{
        margin-left:15px;
        margin-bottom:5px;
    }
    
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .border{
        height:144px;
        position:absolute;
        top:-20px;
        left:130px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill .skillBox .border .line{
        width:3px;
        margin-left:-1px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill_right .skillImg img{
        width:46px;
        height:46px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill_right .rightBox{
        padding:0 20px 0 20px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill_right .rightBox span{
        font-size:12px;
    }
    #about .whoishe .whoisheBox .whoishe_right .skill_right .rightBox p{
        font-size:8px;
    }

    #about .Tb_whoishe{
        height:522px;
        margin-top:-13%;
        position:relative;
        display:block;
    }
    #about .Tb_whoishe .right_bg{
        position:absolute;
        right:0;
        z-index:-1;
    }
    #about .Tb_whoishe .container{
        height:100%;
        padding:80px 0 80px 0;
    }
    #about .Tb_whoishe .whoisheBox{
        display: flex;
        width:100%;
        height:100%;
        box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    }
    #about .Tb_whoishe .whoisheBox .whoishe_left{
        width:50%;
        text-align:center;
        padding-top:46px;
        transition:all 1s;
        opacity:0;
    }
    #about .Tb_whoishe .whoisheBox .whoishe_left.motion{
        opacity:1;
    }
    #about .Tb_whoishe .whoisheBox .license_right{
        width:50%;
        text-align:center;
        padding-top:46px;
        transition:all 1s;
        opacity:0;
    }
    #about .Tb_whoishe .whoisheBox .license_right.motion{
        opacity:1;
    }
    #web .renewal .wdLeft_box > div{
        height:100%;
    }
    #web .renewal .wdLeft_container{
        padding-top:0;
        padding-left:35px;
        /* height:50%; */
        /* padding-right:35px; */
        /* padding-bottom:500px; */
    }
    #web .renewal .wdLeft_bg .wdLeft_box{
        width:100%;
        height:auto;
        margin-top:40px;
    }
    #web .renewal .wdLeft_bg .wdLeft_box h3{
        display:none;
    }
    #web .renewal .wdLeft_bg > h3{
        display:block;
        margin-top:40px;
        /* padding-top:50px; */
    }
    #web .renewal .wdLeft_box > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #web .renewal .wdLeft_box > div .ptImg_box{
        /* position:absolute;
        top:41%;
        left:33%; */
        padding:0;
        transform:rotate(270deg);
        margin-top:50px;
        margin-bottom:50px;
    }
    #web .renewal .wdLeft_box > div .ptImg_box img{
        width:140px;
        height:78px;
        transform:rotate(0);
    }
    #web .renewal .wdLeft_box > div .ptImg_box:last-child{
        display:block;
    }
    #web .renewal .wdLeft_box > div ul{
        /* position:absolute;
        top:40%;
        left:40%; */
        /* transform:translateY(-50%); */
        padding:0;
    }
    #web .renewal .wdLeft_box > div ul li{
        font-size:25px;
    }
    #web .renewal .wdLeft_box > div ul li:nth-child(2){
        margin:5px 0;
    }


    #web .renewal .wdRight_box{
        padding-top:80px;
        padding-right:35px;
        padding-bottom:0;
        height:100%;
    }
    #web .renewal .wdRight_box img{
        width:373px;
        height:271px;
    }
    #web .renewal .wdRight_box h2{
        font-size:50px;
        writing-mode: inherit;
        position:absolute;
        top:10%;
    }
    #web .renewal .wdRight_box .renewal_1,
    #web .renewal .wdRight_box .renewal_2,
    #web .renewal .wdRight_box .renewal_3{
        height: 91vh;
        align-items: inherit;
        justify-content: center;
        padding-top: 160px;
        position: relative;
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
    #web .renewal .renewal_info{
        display:none;
    }
    #web .renewal .Tb_renewal_info{
        display:flex;
        position:absolute;
        bottom:220px;
        background-color:rgba(255,255,255,0.5);
        border-radius: 15px;
        width:454px;
        height:173px;
        /* padding:0 15px; */
    }
    #web .renewal .Tb_renewal_info .info_left{
        /* background:blue; */
        /* width:20%; */
    }
    #web .renewal .Tb_renewal_info .info_left ul{
        text-align:right;
        /* background:blue; */
        padding:8px 20px 0;
    }
    #web .renewal .Tb_renewal_info .info_left ul li{
        padding-bottom:5px;
    }
    #web .renewal .Tb_renewal_info .info_right{
        padding-top:1px;
    }
    #web .renewal .Tb_renewal_info .info_right ul{
        padding:8px 0 0;
    }
    #web .renewal .Tb_renewal_info .info_right ul li{
        
    }
    #web .renewal .Tb_renewal_info span{
        display:block;
        font-size:12px;
        font-weight:bold;
        color:black;
    }
    #web .renewal .Tb_renewal_info b{
        display:block;
        font-size:10px;
        font-weight:normal;
        height:17px;
    }
    #web .renewal .site_link{
        bottom:20px;
    }
    #web .renewal .site_link p{
        font-size:12px;
        font-weight:900;
        transform:skew(20deg);
    }
    
    #design .renewal .wdLeft_container{
        padding-left:40px;
    }
    
    #design .wdLeft_box h3{
        font-size:30px;
    }
    #design .wdLeft_box img{
        width:181px;
    }
    #design .dsLeft_container img{
        width:468px;
        height:293px;
        position:absolute;
        top:12%;
        margin-left:13%;
    }
    #design .dsRight_container > span{
        position:absolute;
        z-index:1;
        font-size:25px;
        top:5%;
        left:25%;
        
    }
    #design .dsRight_container .design_info{
        width:408px;
        height:289px;
        position:absolute;
        top:50%;
        left:17%;
        padding-top:5px;
    }
    #design .dsRight_container .design_info .designTitle{
        margin-bottom:20px;
    }
    .swiper-button-next{
        top:32%;
    }
    .swiper-button-prev{
        top:32%;
    }
    .btnBox{
        width:93px;
    }
    .btnBox b{
        font-size: 12px;
        width:100%;
    }
    #design .designRight_box .design_info .btnBox_container{
        justify-content: space-around;
    }
    #design .dsRight_container .design_info ul li span{
        font-size:12px;
    }
    #design .dsRight_container .design_info ul li p{
        font-size:12px;
    }
    #design .dsRight_container .design_info .logoImg_container img{
        width:87px;
    }
    #design .dsRight_container > span::before{
        width:84%;
        height:6px;
    }
    #story .newstart{
        height:auto;
    }
    #story .newstart .left_bg{
        width:35%;
        height:717px;
    }
    
    #story .newstart .newstartBox{
        height:529px;
    }
    #story .newstart .newstartBox .mystory_left{
        width:34%;
    }
    #story .newstart .newstartBox .mystory_left strong{
        display:none;
    }
    #story .newstart .newstartBox .mystory_right strong{
        font-size:25px;
        color:#544b43;
        display:block;
        margin-left:30px;
        margin-top:50px;
        transition:all 1s;
        opacity:0;
    }
    #story .newstart .newstartBox .mystory_right strong.motion{
        opacity:1;
    }
    #story .newstart .newstartBox .mystory_right span{
        font-size:20px;
        margin-top:50px;
        margin-bottom:20px;
    }
    #story .newstart .newstartBox .mystory_right span::before{
        height:6px;
    }
    #story .newstart .newstartBox .mystory_right p{
        font-size:18px;
        line-height:30px;
        margin-bottom: 60px;
    }
    #story .newstart .newstartBox .mystory_right img{
        width:179px;
        margin-left:100px;
    }
    #story .newstart .newstartBox .mystory_left .mystoryBox{

    }
    #story .newstart .newstartBox .mystory_left .mystoryBox h2{
        transform:skew(0deg);
        font-size:40px;
        display:inline-block;
        margin-bottom:300px;
        margin-left:80px;
    }

    #story .newstart .newstartBox .mystory_center{
        /* display:none; */
        width:100%;
        max-width:331px;
        height:363px;
        background-size:cover;
        left:110px;
    }

    #story .realization{
        height:auto;
    }
    #story .realization .right_bg{
        width:100%;
        max-width:276px;
        height:100%;
        max-height:605px;
    }
    #story .realization .container{
        padding-top:90px;
    }
    #story .realization .container .realizationBox{
        height:527px;
        /* margin-bottom:600px; */
    }

    #story .realization .realizationBox .realization_left{
        padding-right:0;
    }
    #story .realization .realizationBox .realization_left span{
        font-size:20px;
        margin-top:50px;
        margin-bottom:40px;
    }
    #story .realization .realizationBox .realization_left span::before{
        height:6px;
    }
    #story .realization .realizationBox .realization_left p{
        font-size: 18px;
    }
    #story .realization .realizationBox .realization_left p.pointText{
        display:none;
    }
    #story .realization .realizationBox .realization_left p:last-child{
        display:block;
        line-height: 30px;
    }
    #story .realization .realizationBox .realization_right{
        width:276px
    }
    #story .realization .realizationBox .realization_right > div{
        width:100%;
        max-width:314px;
        height:324px;
        background-size:cover;
        margin-top:100px;
        margin-left:40px;
    }
    
    #story .epilogue{
        height:750px;
    }
    #story .epilogue .title_bg{
        height:70px;
    }
    #story .epilogue .ep_title h1{
        font-size:40px;
        margin-top:5px;
    }
    #story .epilogue .ep_container{
        flex-direction: column;
        align-items: center;
    }
    #story .epilogue .ep_container .left_box{
        height:auto;
        /* margin-bottom:50px; */
    }
    #story .epilogue .ep_container .left_box > div{
        width:316px;
        height:340px;
        background-size:cover;
        margin-top:50px;
        margin-bottom:40px;
    }
    #story .epilogue .ep_container .right_box{
        padding:0;
        width:100%;
        height:auto;
        text-align:center;
    }
    #story .epilogue .right_box p.endText{
        font-size:18px;
        line-height:30px;
        /* display:block; */
    }
    #story .epilogue .ep_container .right_box p.text_ani{
        margin-top:20px;
        font-size:35px;
    }
    #story footer{
        
    }
}

/* Mobile Device */
@media all and (max-width:768px){
    .container{
        width:100%;
        max-width:728px;
    }
    header .container{
        width:100%;
        max-width:728px;
        margin:0 auto;
    }
    header .header_wrap{
        justify-content: inherit;
    }
    header .logo img{
        width:105px;
    }
    header .gnb{
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }
    header .gnb li{
        width:67px;
        margin-left:10px;
    }
    header .gnb li:last-child(){
        margin-left:0;
    }
    header .gnb li span{
        font-size:14px;
    }
    
    #about .aboutme{
        height:auto;
    }
    #about .aboutme .container{
        height:auto;
        padding:50px 0;
    }
    #about .aboutme .right_bg{
        display:none;
    }
    #about .aboutme .aboutmeBox{
        height:570px;
        flex-direction: column;
        position:relative;
    }
    #about .aboutme .aboutmeBox .left_box{
        /* background:blue; */
        justify-content: inherit;
        position:absolute;
        top:22px;
        left:50%;
        transform:translateX(-50%);
    }
    #about .aboutme .aboutmeBox .left_box p.animate{
        font-size:18px;
        line-height: 30px;
        padding-top:300px;
    }
    #about .aboutme .aboutmeBox .left_box p.text_ani{
        font-size:20px;
    }
    #about .aboutme .aboutmeBox .left_box span{
        font-size:18px;
    }
    #about .aboutme .aboutmeBox .left_box span::before{
        height:5px;
    }
    #about .aboutme .aboutmeBox .aboutme_right img{
        display:none;
    }
    #about .aboutme .aboutmeBox .right_box .aboutBox h2{
        display:none;
    }
    #about .aboutme .aboutmeBox .aboutme_center{
        width:312px;
        height:342px;
        background-size:cover;
        position:absolute;
        top:95px;
        left:50%;
        transform:translateX(-50%);
    }

    #about .whoishe .left_bg{
        width:100%;
        max-width:728px;
        height:371px;
        left:50%;
        transform:translateX(-50%);
        
    }
    #about .whoishe .whoisheBox{
        width:100%;
        max-width:662px;
        height:548px;
        margin:0 auto;
    }
    #about .whoishe .whoisheBox .whoishe_left{
        display:none;
    }
    
    #about .whoishe .whoishe_right h3{
        font-size:20px;
    }
    #about .whoishe .whoishe_right .process{
        position:absolute;
        top:0;
        left:50%;
        padding-top:37px;
    }
    #about .whoishe .whoishe_right .processBox{
        width:266px;
        height:188px;
        border-radius: 30px;
    }
    #about .whoishe .whoishe_right .processBox ul{
        width: 170px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top:30px;
    }
    #about .whoishe .whoishe_right .processBox ul li{
        width:30%;
        padding:0;
        margin-bottom:10px;
        margin-right:5px;
    }
    #about .whoishe .whoishe_right .processBox ul li:nth-child(3){
        margin-right:0;
    }
    #about .whoishe .whoishe_right .processBox ul li:last-child{
        padding-left:10px;
    }
    #about .whoishe .whoishe_right .processBox ul li:last-child span{
        padding-left:5px;
    }
    #about .whoishe .whoishe_right .processBox ul li img{
        width:40px;
        height:40px;
        /* padding-left:0; */
    }
    #about .whoishe .whoishe_right .processBox ul li span{
        font-size:11px;
        display:block;
    }
    #about .whoishe .whoishe_center.motion{
        display:none;
    }
}


