@charset "UTF-8";

.container{
    width:100%;
    max-width:1610px;
    margin:0 auto;
}


#about .aboutme {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:80px;
    margin-bottom:60px;
}

#about .aboutme .container{
    height:100%;
    display:flex;
    padding:80px 0;
}

#about .aboutme .aboutmeBox{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    display:flex;
    justify-content: space-between;
}

#about .aboutme .right_bg{
    width:50%;
    height:100vh;
    max-height:889px;
    background:#bfa58e;
    position:absolute;
    right:0px;
    z-index: -5;
}

#about .aboutme .aboutme_left {
    width: 50%;
    height: 100%;
}

#about .aboutme .left_box {
    width:100%;
    height:100%;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#about .aboutme .left_box > p.animate {
    font-size: 25px;
    color: #414141;
    line-height:45px;
    opacity:0;
    transition:all 1s;
}
#about .aboutme .left_box > p.animate.motion{
    opacity:1;
}
#about .aboutme .left_box p.text_ani {
    font-size: 40px;
    font-weight: bold;
    color: #544b43;
    position:relative;
    display:inline-block;
}
#about .aboutme .left_box p.text_ani::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:-10px;
    width:3px;
    height:100%;
    background-color:#544b43;
}
#about .aboutme .left_box p.active::after{
    display:none;
}

#about .aboutme .left_box span {
    font-size: 35px;
    font-weight: bold;
    color: #544b43;
    position: relative;
    display: inline-block;
    margin: 9px 0 72px 0;
    transform:translateY(50%);
    transition:all 1s;
    opacity:0;
}
#about .aboutme .left_box span.motion{
    opacity:1;
    transform:translateY(0);
}
#about .aboutme .left_box span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#about .aboutme .aboutme_right {
    width: 50%;
    height: 100%;
}

#about .aboutme .right_box {
    width: 100%;
    height: 100%;
    position:relative;
    transform:translateX(13%);
    opacity:0;
    transition:all 1s;
}
#about .aboutme .right_box.motion{
    transform:translateX(0);
    opacity:1;
}
#about .aboutme .right_box img{
    position:absolute;
    top:10%;
    right:14%;
}

#about .aboutme .right_box .aboutBox {
    width: 375px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 30%;
    right: 18%;
}
#about .aboutme .right_box .aboutBox h2 {
    font-size: 70px;
    color: #544b43;
}
#about .aboutme .right_box .aboutBox span {
    color: #FFC700;
}

#about .aboutme .aboutme_center {
    width: 471px;
    height: 497px;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-15%,-65%);
    background-image: url(../img/사진1-3.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    opacity:0;
    transition:all 1s;
    /* border: 1px solid white; */
}
#about .aboutme .aboutme_center.motion{
    opacity:1;
    transform:translate(0,-65%);
}
#about .aboutme .aboutme_center img{
    width:100%;
    height:100%;
}
/* aboutme end */


#about .whoishe{
    width: 100%;
    height: 100%;
    position:relative;
    margin-bottom:60px;
}

#about .whoishe .left_bg{
    width:100%;
    max-width:759px;
    height:100vh;
    max-height:889px;
    background-color:#bfa58e;
    position:absolute;
    top:0;
    z-index:-1
}

#about .whoishe .container{
    height:889px;
    padding:80px 0;
}

#about .whoishe .whoisheBox{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    display:flex;
    justify-content: space-between;
}

#about .whoishe .whoishe_left{
    width:38%;
    text-align:center;
    padding:100px 120px 0 0;
    transform:translateX(-20%);
    opacity:0;
    transition:all 1s;
}
#about .whoishe .whoishe_left.motion{
    transform:translateX(0);
    opacity:1;
}
#about .whoishe .whoishe_left h4{
    font-size:35px;
    font-weight:bold;
    color:#544b43;
    margin-bottom:30px;
    display:inline-block;
    position:relative;
}

#about .whoishe .whoishe_left ul li{
    padding-bottom:8px;
}
#about .whoishe .whoishe_left ul li span{
    font-size:20px;
    font-weight:bold;
    color:#414141;
}
#about .whoishe .whoishe_left ul li b{
    font-size:18px;
    font-weight:normal;
    color:#414141;
}

#about .whoishe .whoishe_left .profile{
    margin-bottom:30px;
}
#about .whoishe .whoishe_left .profile li:last-child{
    padding-bottom:0;
}
#about .whoishe .whoishe_left .profile h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 103%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#about .whoishe .whoishe_left .license li:last-child{
    padding-bottom:0;
}
#about .whoishe .whoishe_left .license h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#about .whoishe .whoishe_right{
    width:62%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:330px;
    text-align:center;
    transform:translateX(13%);
    opacity:0;
    transition:all 1s;
}
#about .whoishe .whoishe_right.motion{
    transform:translateX(0);
    opacity:1;
}

#about .whoishe .whoishe_right h3{
    font-size:30px;
    font-weight:bold;
    color:#544b43;
    margin-bottom:25px;
}

#about .whoishe .whoishe_right .process{
    margin-bottom:75px;
}

#about .whoishe .whoishe_right .processBox{
    width:475px;
    height:93px;
    background-color:#f4ede7;
    border-radius: 90px;
}

#about .whoishe .whoishe_right .processBox ul{
    display:flex;
    justify-content: space-around;
}
#about .whoishe .whoishe_right .processBox ul li{
    text-align:center;
    padding:10px 0 10px 29px;
}
#about .whoishe .whoishe_right .processBox ul li:last-child{
    padding-right:29px;
}
#about .whoishe .whoishe_right .processBox ul li img{
    width:50px;
    height:50px;
}
#about .whoishe .whoishe_right .processBox ul li span{
    font-size:14px;
    font-weight:normal;
    display:block;
}

#about .whoishe .whoishe_right .skillBox{
    width:475px;
    height:280px;
    border-radius: 45px;
    background-color:#f4ede7;
    display:flex;
}

#about .whoishe .whoishe_right .skill_left{
    width:35%;
}

#about .whoishe .whoishe_right .skill_left ul{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#about .whoishe .whoishe_right .skill_left ul li{
    display:flex;
    text-align:left;
    margin-left:30px;
    margin-bottom:15px;
    cursor: pointer;
    opacity: 0.5;
    transition:0.25s;
}
#about .whoishe .whoishe_right .skill_left ul li:hover{
    opacity:1;
}
#about .whoishe .whoishe_right .skill_left ul li.active{
    opacity: 1;
}
#about .whoishe .whoishe_right .skill_left ul li:last-child{
    margin-bottom:0;
}
#about .whoishe .whoishe_right .skill_left ul li .iBox{
    width:30px;
}
#about .whoishe .whoishe_right .skill_left ul li i{
    color:#544b43;
    font-size:20px;
}
#about .whoishe .whoishe_right .skill_left ul li .cateBox{
    width:70px;
    margin-left:10px;
    text-align:left;
}
#about .whoishe .whoishe_right .skill_left ul li span{
    font-size:14px;
}

#about .whoishe .whoishe_right .border{
    width:1px;
    height:200px;
    background-color:rgba(84,75,67,0.5);
    margin-top:45px;
}
#about .whoishe .whoishe_right .line{
    width:5px;
    height:20%;
    background-color:#544b43;
    margin-left:-2px;
    transition:all 0.3s ease-in-out;
}

#about .whoishe .whoishe_right .skill_right{
    width:65%;
    position:relative;
}

#about .whoishe .whoishe_right .skill_right .rightBox{
    opacity:0;
    width:100%;
    padding:0 40px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:30%;
}
#about .whoishe .whoishe_right .skill_right div.active{
    opacity:1;
    position:absolute;
    left:0;
    transition: all 0.5s ease-out;
}

#about .whoishe .whoishe_right .skill_right .rightBox .skillImg img{
    width:60px;
    height:60px;
    margin:0 5px;
}

#about .whoishe .whoishe_right .skill_right .rightBox span{
    display:block;
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
}
#about .whoishe .whoishe_right .skill_right .rightBox p{
    font-size:13px;
}

#about .whoishe .whoishe_center{
    width: 464px;
    height: 567px;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(0,-40%);
    background-image: url(../img/사진2-3.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    /* border: 1px solid white; */
    opacity: 0;
    transition:all 1s;
}

#about .whoishe .whoishe_center.motion{
    transform: translate(0,-50%);
    opacity: 1;
}



#about .whoishe .whoishe_center img{
    width: 100%;
    height:100%;
}
/* whoishe end */
/* about end */

#web .renewal,
#design .renewal{
    display:flex;
}
#web .renewal .wdLeft_bg,
#design .renewal .wdLeft_bg{
    width:30%;
    /* max-width:626px; */
    height:100vh;
    background-color:#bfa58e;
    padding-top:80px;
    position:sticky;
    top:0;
    left:0;
}

#web .renewal .wdLeft_container,
#design .renewal .wdLeft_container{
    width:100%;
    height:100%;
    padding:80px 0 80px 149px;
}
#web .renewal .wdLeft_box,
#design .renewal .wdLeft_box{
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}
#web .renewal .wdLeft_box h3{
    font-size:40px;
    color:#544b43;
    text-align:center;
    padding-top:124px;
    margin-bottom:70px;
    opacity:0;
    transition:all 1s;
    cursor:default;
}
#web .renewal .wdLeft_box h3.motion{
    opacity:1;
}
#web .renewal .wdLeft_box > div{
    display:flex;
    justify-content: space-around;
}
#web .renewal .wdLeft_box > div .ptImg_box{
    padding-top:140px;
}
#web .renewal .wdLeft_box > div img{
    width:250px;
    height:131px;
    transform:rotate(90deg);
    margin-top:100px;
    opacity:0;
    transition:all 1s;
}
#web .renewal .wdLeft_box > div img.motion{
    margin-top:0;
    opacity:1;
}
#web .renewal .wdLeft_box > div ul{
    padding-right:20px;
    transform:translateX(-30%);
    transition:all 1s;
    opacity:0;
}
#web .renewal .wdLeft_box > div ul.motion{
    opacity:1;
    transform:translateX(0);
}
#web .renewal .wdLeft_box > div ul li{
    cursor: pointer;
    font-size:35px;
    color:#f4ede7;
    transition:all 0.2s;
    font-weight:bold;
}
#web .renewal .wdLeft_box > div ul li:hover{
    color:#544b43;
}
#web .renewal .wdLeft_box > div ul li:nth-child(2){
    margin:10px 0;
}
#web .renewal .wdLeft_box > div ul li.on{
    font-weight:bold;
    color:#544b43;
}
#web .renewal .wdLeft_box > div ul li.on:hover{
    opacity:1;
}

#web .renewal .wdRight_box{
    width:70%;
    /* height:2000px; */
    height:100%;
    max-height:2906px;
    padding-top:160px;
    padding-bottom:80px;
    padding-right:7.6%;
}
#web .renewal .wdRight_box > div{
    width:100%;
    height:100%;
    margin-bottom:240px;
}
#web .renewal .wdRight_box ul{
    padding:8px 30px 0;
}
#web .renewal .wdRight_box ul li,
#design .design_info ul li{
    padding-bottom:5px;
}
#web .renewal .wdRight_box span,
#design .design_info span{
    font-size:12px;
    font-weight:bold;
}
#web .renewal .wdRight_box p,
#design .design_info p{
    font-size:12px;
}
#web .site_link{
    position:absolute;
    bottom:6%;
    left:50%;
    transform:translateX(-50%);
}
.site_link{
    text-align:center;
}

.btnBox:after {
    /* position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    transition: all 0.3s ease; */
  }
  .btnBox:hover {
    /* color: white; */
  }
  .btnBox:hover .btnBox_sub{
    /* display:none; */
    /* position:absolute; */
    /* top:0; */
    /* left:0; */
  }
  .btnBox:hover:after {
    left: 0;
    width: 100%;
  }
  .btnBox:active {
    top: 1px;
  }
  
@keyframes btnani {
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
.btnBox{
    margin:8px auto 0;
    width:122px;
    max-height:34px;
    background-color:#FFC700;
    padding:5px 0;
    text-align:center;
    transform:skew(-20deg);
    position:relative;
    transition:all 0.3s;
}
.btnBox b{
    font-size:16px;
    width:122px;
    font-weight:900;
    display:block;
    transform:skew(20deg);
}
.btnBox_sub{
    width:100%;
    height:100%;
    border:1px solid #FFC700;
    position:absolute;
    top:20%;
    left:5%;
    z-index:-1;
    transition:all 0.3s;
}

#web .renewal .wdRight_box .renewal_1{
    background-image: url(../img/lookpin_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_1 h2{
    padding-bottom:60px;
}
#web .renewal .wdRight_box .renewal_info{
    width:100%;
    max-width:322px;
    height:100%;
    max-height:318px;
    background-color:rgba(255,255,255,0.5);
    border-radius:15px;
    margin:0 40px 60px 100px;
    position:relative;
}
#web .renewal .wdRight_box img{
    width:457px;
    height:384px;
}
#web .renewal .wdRight_box h2{
    font-size:70px;
    color:#FFC700;
    writing-mode: vertical-rl;
    cursor: default;
}


#web .renewal .wdRight_box .renewal_2{
    background-image: url(../img/yeogi_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_2 h2{
    padding-bottom:30px;
}
#web .renewal .wdRight_box .renewal_3{
    background-image: url(../img/hermes_bg.jpg);
    width:100%;
    height:729px;
    display:flex;
    align-items: center;
}
#web .renewal .wdRight_box .renewal_3 h2{
    padding-bottom:40px;
}
/* web end */

#design{
    width:100%;
    max-width:1920px;
}
#design .wdLeft_box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#design .wdLeft_box img{
    width:271px;
}
#design .wdLeft_box h3{
    font-size:40px;
    font-weight:bold;
    color:#544b43;
    display:block;
    margin:90px 0;
    opacity:0;
    transition:all 1s;
    cursor: default;
}
#design .wdLeft_box h3.motion{
    opacity:1;
}
#design .wdLeft_box img:first-child{
    transform:rotate(-90deg);    
    margin-bottom:50px;
    transition:all 1s;
    opacity:0;
}
#design .wdLeft_box img:first-child.motion{
    margin-bottom:0;
    opacity:1;
}
#design .wdLeft_box img:last-child{
    transform:rotate(90deg);
    margin-top:50px;   
    transition:all 1s;
    opacity:0; 
}
#design .wdLeft_box img:last-child.motion{
    margin-top:0;
    opacity:1;
}
#design .wdRight_box{
    width:70%;
    padding-top:160px;
    padding-bottom:80px;
    padding-right:7.6%;
}
#design .wdRight_box .designRight_box{
    width:100%;
    height:100%;
    background:#f4ede7;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}

/* #design .swiper .swiper-slide{
    width:100%;
    height:100%;
} */

#design .dsLeft_container{
    width:65%;
    height:100%;
    /* margin-left:15%; */
    /* padding-top:15.6%; */
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    /* background:blue; */
}
#design .dsLeft_container img{
    width:100%;
    max-width:624px;
    /* height:100%; */
    /* max-height:359px; */
    margin-left: 12%;
}
#design .dsRight_container{
    width:35%;
    height:100%;
    /* padding-left:5%;
    padding-top:15.6%; */
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* background:red; */
}
#design .dsRight_container > span{
    width:100%;
    max-width:212px;
    display:block;
    margin-left:15%;
    font-size:30px;
    font-weight:bold;
    color:#544b43;
    position:relative;
}
#design .dsRight_container > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -3%;
    width: 100%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#design .dsRight_container .design_info{
    width:322px;
    height:359px;
    background-color:rgba(255,255,255,0.5);
    border-radius: 15px;
    margin-top:55px;
    margin-bottom:95px;
    padding:17px 20px 0 20px;
    position:relative;
}
#design .dsRight_container .design_info .designTitle{
    text-align:center;
    margin-bottom:40px;
    margin-top:10px;
}
#design .dsRight_container .design_info .designTitle h5{
    font-size:25px;
    font-weight:bold;
}
#design .designRight_box .design_info .logoImg_container{
    text-align:center;
}
#design .designRight_box .design_info .btnBox_container{
    display:flex;
    justify-content: space-between;
}
#design .designRight_box .design_info .btnBox_container .btnBox{
    
}
#design .swiper {
    width:100%;
    height: 100%;
    position: relative;
}


#design .swiper-slide {
    /* max-width: 1080px; */
    width:100%;
    height:100%;
    /* text-align: center; */
    /* font-size: 18px; */
    /* background: #fff; */
    /* border-radius: 10px; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next{
    position:absolute;
    top:50%;
    right:3%;
    background: url(../img/right_arrow.png) no-repeat center;
}
.swiper-button-prev{
    position:absolute;
    top:50%;
    left:3%;
    background: url(../img/left_arrow.png) no-repeat center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    display:none;
}
/* design end */
#story{
}
#story .newstart{
    width:100%;
    max-width:1920px;
    height:100vh;
    position:relative;
    /* background:blue; */
}
#story .newstart .left_bg{
    width:40%;
    height:95%;
    background:#bfa58e;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
#story .newstart .container{
    width:100%;
    height:100%;
    /* background:blue; */
    padding-top:160px;
    padding-bottom:80px;
}

#story .newstart .newstartBox{
    display:flex;
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
    position:relative;
}

#story .newstart .newstartBox .mystory_left{
    width:38.1%;
    height:100%;
    text-align:center;
    position:relative;
    /* background:bisque; */
}
#story .newstart .newstartBox .mystory_left strong{
    display:inline-block;
    margin-top:30px;
    font-size:40px;
    color:#544b43;
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_left strong.motion{
    opacity:1;
}
#story .newstart .newstartBox .mystory_left .mystoryBox{
    position:absolute;
    bottom:26%;
    left:8%;
    transform:translateX(-20%);
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_left .mystoryBox.motion{
    opacity:1;
    transform:translateX(0);
}
#story .newstart .newstartBox .mystory_left .mystoryBox h2{
    font-size:70px;
    color:#544b43;
    transform:rotate(-90deg);
    
}
#story .newstart .newstartBox .mystory_left .mystoryBox span{
    color:#FFC700;
}
/* mystory_left end */

#story .newstart .newstartBox .mystory_right{
    width:61.9%;
    height:100%;
}
#story .newstart .newstartBox .mystory_right .myRight_container{
    width:70%;
    height:100%;
    /* background:bisque; */
    margin-left:30%;
}
#story .newstart .newstartBox .mystory_right span,
#story .realization .realizationBox .realization_left span{
    margin:160px 0 40px 0;
    font-size: 35px;
    font-weight: bold;
    color: #544b43;
    position: relative;
    display: inline-block;
    transition:all 1s;
    transform:translateY(-60%);
    opacity:0;
    /* margin: 9px 0 72px 0; */
}

#story .newstart .newstartBox .mystory_right span.motion,
#story .realization .realizationBox .realization_left span.motion{
    transform:translateY(0);
    opacity:1;
}
#story .newstart .newstartBox .mystory_right span::before,
#story .realization .realizationBox .realization_left span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
#story .newstart .newstartBox .mystory_right p,
#story .realization .realizationBox .realization_left p{
    font-size:25px;
    line-height:45px;
    color:#414141;
    margin-bottom:95px;
    transition:all 1s;
    opacity:0;
}

#story .newstart .newstartBox .mystory_right p.motion,
#story .realization .realizationBox .realization_left p.motion{
    opacity:1;
}
#story .newstart .newstartBox .mystory_right img{
    transform:rotate(90deg);
    margin-left:150px;
    transition:all 1s;
    margin-top:60px;
    opacity:0;
}
#story .newstart .newstartBox .mystory_right img.motion{
    margin-top:0;
    opacity:1;
}
/* mystory_right end */

#story .newstart .newstartBox .mystory_center{
    width:481px;
    height:527px;
    background-image: url(../img/사진3-3.jpg);
    position:absolute;
    bottom:10%;
    left:20%;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    transform:translateX(20%);
    opacity:0;
    transition:all 1s;
}
#story .newstart .newstartBox .mystory_center.motion{
    opacity:1;
    transform:translateX(0);
}
/* mystory_center end */
/* newstart end */

#story .realization{
    width:100%;
    max-width:1920px;
    height:100vh;
    position:relative;
    /* background:blue; */
}
#story .realization .right_bg{
    width:40%;
    height:90%;
    background-color:#bfa58e;
    position:absolute;
    top:50px;
    right:0;
    z-index:-1;
}
#story .realization .container{
    width:100%;
    height:100%;
    padding-top:120px;
    padding-bottom:80px;
    /* background:blue; */
}
#story .realization .realizationBox{
    display:flex;
    width:100%;
    height:100%;
    box-shadow:0 0 20px 10px rgba(0,0,0,0.15);
}
#story .realization .realizationBox .realization_left{
    width:61.8%;
    height:100%;
    padding:70px 70px 0 70px;
    /* background:beige; */
}
/* realization_left end */

#story .realization .realizationBox .realization_right{
    width:38.2%;
    height:100%;
    /* background:blue; */
}
#story .realization .realizationBox .realization_right > div{
    margin:150px auto 0 auto;
    width:447px;
    height:460px;
    background-image: url(../img/사진4.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    transform:translateY(20%);
    transition:all 1s;
    opacity:0;
}
#story .realization .realizationBox .realization_right > div.motion{
    transform:translateY(0);
    opacity:1;
}


#story .epilogue{
    width:100%;
    max-width:1920px;
    height:690px;
    position:relative;
}
#story .epilogue .title_bg{
    width:100%;
    height:149px;
    background-color:#bfa58e;
    position:absolute;
    top:0;
    z-index:-10;
}
#story .epilogue .container{
    width:100%;
    height:100%;
    max-height:487px;
    /* background:blue; */
    position:relative;
}

#story .epilogue .ep_title{
    text-align:center;
    transform:translateY(-20%);
    opacity:0;
    transition:all 1s;
    /* margin-top:30px; */
}
#story .epilogue .ep_title.motion{
    opacity:1;
    transform:translateY(0);
}
#story .epilogue .ep_title h1{
    font-size:70px;
    font-weight:bold;
    color:#544b43;
    position:relative;
    display:inline-block;
    margin-top:20px;
}
#story .epilogue .ep_title h1::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}

#story .epilogue .ep_container{
    display:flex;
}

#story .epilogue .left_box{
    width:38%;
    height:452px;
    /* background:blue; */
}
#story .epilogue .left_box > div{
    width:452px;
    height:487px;
    background-image: url(../img/사진5.jpg);
    box-shadow:0 0 10px 5px rgba(0,0,0,0.15);
    margin:-25px auto 0 auto;
    transform:translateX(20%);
    transition:all 1s;
    opacity:0;
}
#story .epilogue .left_box > div.motion{
    opacity:1;
    transform:translateX(0);
}

#story .epilogue .right_box{
    width:62%;
    height:550px;
    padding-top:120px;
    /* background:blue; */
}
#story .epilogue .right_box p.endText{
    font-size:25px;
    color:#414141;
    line-height:45px;
    opacity:0;
    transition:all 1s;
}
#story .epilogue .right_box p.motion{
    opacity:1;
}
#story .epilogue .right_box p.text_ani{
    font-size:50px;
    font-weight:bold;
    color:#544b43;
    position:relative;
    display:inline-block;
    margin-top:60px;
}
#story .epilogue .right_box p.text_ani::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:-10px;
    width:3px;
    height:100%;
    background-color:#544b43;
}
#story .epilogue .right_box p.active::after{
    display:none;
}
#story .epilogue .right_box strong::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -2%;
    width: 104%;
    height: 9px;
    background-color: #FFC700;
    z-index: -1;
}
/* story end */





